<div class="opt-row row no-gutters">
{% for i in range(30) %}
  <div id="opt-cell-{{i}}" class="opt-cell col-3">
    <div class="opt-content" data-target="opt-form-cont-{{i}}">
      <div class="opt-logo text-center m-2">
        <img src="">
      </div>
      <div class="opt-check form-check text-center">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="vcs">
          git
        </label>
      </div>
    </div>
    <div id="opt-form-cont-{{i}}" class="opt-form-cont collapse">
      <div class="opt-form">
        <div class="form-group">
          <label>I fetch my repo using this command:</label>
          <input type="text" class="form-control" placeholder="$ git clone git@github.com:in-toto/in-toto.git">
          <small class="form-text text-muted">Some descriptive text...</small>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>


