{% for i in range(3) %}
  <div class="opt-row row no-gutters">
  {% for j in range(6) %}
    <div id="opt-cell-{{ i * 6 + j }}" data-target="opt-form-cont-{{ i * 6 + j }}" class="opt-cell col">
      <div class="opt-logo text-center">
        <img src="">
      </div>
      <div class="opt-check form-check text-center">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="vcs">
          git
        </label>
      </div>
    </div>
  {% endfor %}
  </div>

  {% for j in range(6) %}
  <div id="opt-form-cont-{{ i * 6 + j }}" class="opt-form-cont collapse">
    <div class="opt-form">
      <div class="form-group">
        <label>I fetch my repo using this command:</label>
        <input type="text" class="form-control" placeholder="$ git clone git@github.com:in-toto/in-toto.git">
        <small class="form-text text-muted">Some descriptive text...</small>
      </div>
    </div>
  </div>
  {% endfor %}
{% endfor %}