{% macro option_grid(options) %}
<div class="opt-row row no-gutters">
  <div class="opt-cell col opt-cell-top">
    <div class="opt-content">
      <div class="text-center">
          Add a custom command
      </div>
    </div>
    <div class="opt-form-cont collapse">
      <div class="opt-form">
        {{ caller(data={"cmd":""}) }}
      </div>
    </div>
  </div>
</div>
<div class="opt-row row no-gutters">
{% for option in options %}
  <div class="opt-cell col-3">
    <div class="opt-content">
      <div class="opt-logo text-center m-2">
        <img src="{{option['logo']}}">
      </div>
      <div class="text-center">
          {{option["name"]}}
      </div>
    </div>
    <div class="opt-form-cont collapse">
      <div class="opt-form">
        {{ caller(data=option) }}
      </div>
    </div>
  </div>
{% endfor %}
</div>
{%- endmacro %}

{% macro form_container(form_id, form_action, user_data) %}
<form id="{{ form_id }}" action="{{ form_action }}" method="POST">
  <div id="opt-form-container" class="mb-3 sort-container">
    {% for user_item in user_data.get("items", []) %}
      <div class="opt-form">
        {{ caller(data=user_item) }}
      </div>
    {% endfor %}
  </div>
<hr class="mt-5">
<h2>Doing things differently?</h2>
Let us know if the tool does not let you describe what you are doing and we will try to make it better.
<div class="form-group">
  <textarea class="form-control" rows="3" name="comment">{{user_data.get("comment", "")}}</textarea>
</div>
</form>
{%- endmacro %}

{% macro progress_bar() %}
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {{kwargs.value}}%" aria-valuenow="{{kwargs.value}}" aria-valuemin="0" aria-valuemax="100">{{kwargs.value}}%</div>
</div>
{%- endmacro %}
