{% macro option_grid() %}
<div class="opt-row row no-gutters">
{# TODO: This is a temp protoype loop, later we will iterate over real data. #}
{% for tool in kwargs.tools %}
  <div class="opt-cell col-3">
    <div class="opt-content">
      <div class="opt-logo text-center m-2">
        <img src="{{tool['logo']}}">
      </div>
      <div class="text-center">
      </div>
    </div>
    <div class="opt-form-cont collapse">
      <div class="opt-form">
        {{ caller(cmd=tool["cmd"]) }}
      </div>
    </div>
  </div>
{% endfor %}
</div>
{%- endmacro %}

{% macro option_custom() %}
<div id="custom-cmd-container" class="mb-3 .fade">
  <div class="opt-form template" style="display:none;">
    {{ caller() }}
  </div>
</div>
<button data-templatesource=".opt-form" data-templatedest="#custom-cmd-container" class="add-btn btn btn-outline-primary">
  {{kwargs.add_btn_text}}
</button>
{%- endmacro %}



{% macro progress_bar() %}
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {{kwargs.value}}%" aria-valuenow="{{kwargs.value}}" aria-valuemin="0" aria-valuemax="100">{{kwargs.value}}%</div>
</div>
{%- endmacro %}
