<div class="box">
  {% for rule in rules %}
    {% with rule_data=unpack_rule(rule) %}
    <div>
    {% if rule_data.type | upper == "MATCH" %}
      <input type="text" value="{{rule_data.type | upper}}" disabled>
      <input type="text" value="{{rule_data.pattern}}">
      <input type="text" value="IN" disabled>
      <input type="text" value="{{rule_data.source_prefix}}">
      <input type="text" value="WITH" disabled>
      <select>
        <option
            {{ "selected" if rule_data.dest_type|lower == "materials"}}>
          MATERIALS
        </option>
         <option
            {{ "selected" if rule_data.dest_type|lower == "products"}}>
          PRODUCTS
        </option>
      </select>
      <input type="text" value="IN" disabled>
      <input type="text" value="{{rule_data.dest_prefix}}">

      <input type="text" value="FROM" disabled>
      <input type="text" value="{{rule_data.dest_name}}">
    {% else %}
      <input type="text" value="{{rule_data.type | upper}}" disabled>
      <input type="text" value="{{rule_data.pattern}}">
    {% endif %}
    </div>
    {% endwith %}
  {% endfor %}
  Add rule
  <select>
    <option disabled selected>-- Add artifact rule --</option>

    <option value="match">
      MATCH &lt;pattern&gt; &lbrack;IN &lt;source-path-prefix&gt;&rbrack; WITH &lpar;MATERIALS&vert;PRODUCTS&rpar;
      &lbrack;IN &lt;destination-path-prefix&gt;&rbrack; FROM &lt;step&gt;
    </option>
    <option value="create">CREATE &lt;path pattern&gt;</option>
    <option value="delete">DELETE &lt;path pattern&gt;</option>
    <option value="modify">MODIFY &lt;path pattern&gt;</option>
    <option value="allow">ALLOW &lt;path pattern&gt;</option>
    <option value="disallow">DISALLOW &lt;path pattern&gt;</option>
  </select>
</div>