{% extends "base.html" %}
{% block head %}
Who is authorized to do what in you project?
{% endblock %}

{% block content %}

<h2 class="mt-5 mb-2">Generate Public Keys</h2>
{{ lipsum(n=1, html=True, min=50, max=51) }}

<h2 class="mt-5 mb-2">Upload Public Keys</h2>
{{ lipsum(n=1, html=True, min=50, max=51) }}


<script type="text/javascript">
  {# Initialize drag and drop file upload for pubkey uploads #}
  {# FIXME: Factor out to JavaScript file #}
  Dropzone.autoDiscover = false;
  $(function(){

    $(".dropzone").dropzone({
        paramName: "dropped_file",

        init: function () {
          // Show already uploaded files in dropzone
          {% for filename in filenames %}
            var dropzone_file = {
                name: "{{ filename }}"
              };

            this.options.addedfile.call(this, dropzone_file);
            dropzone_file.previewElement.classList.add('dz-complete');

          {% endfor %}
        },
        complete: function(file) {
          // Remove the file place holder from the dropzone if the upload failed
          if (response.error) {
            this.removeFile(file);
          }
        }
    });
  });
</script>

<small>Drop Public Keys here or click to upload!</small>
<div class="dz-container d-flex align-items-stretch p-3">
  <form class="dropzone d-flex flex-wrap" method="POST", enctype="multipart/form-data"
      action="{{ url_for('ajax_upload_key') }}">
  </form>
</div>

<script type="text/javascript">
  {# Initialize select2 for pubkey-to-step association #}
  {# FIXME: Factor out to JavaScript file #}
  $(function(){
    $(".select2").select2();
  });

</script>

<h2 class="mt-5 mb-3">Assign Public Keys</h2>
{{ lipsum(n=1, html=True, min=40, max=41) }}

{% for step in layout.steps %}
  <h3 class="mt-3 mb-2">Step {{loop.index}}. "{{step.name}}"</h3>
  <div class="form-group row">
    <div class="col-10">
      <label>Authorized functionaries</label>
      <select multiple class="form-control select2">
        {% for keyid, key in layout.keys.iteritems() %}
         <option> {{ keyid | truncate(9, killwords=True)}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-2">
      <label>Threshold</label>
      <input class="form-control" type="number" value="{{ step.threshold | int }}" min="1">
    </div>
  </div>
{% endfor %}


<hr>
<div class="row no-gutters justify-content-between">
  <div class="col-3">
    <a class="btn btn-primary btn-block" href="{{ url_for('software_supply_chain')}} ">Previous</a>
  </div>
  <div class="col-3">
    <a class="btn btn-primary btn-block" href="{{ url_for('chaining')}} ">Next</a>
  </div>
</div>

{% endblock %}