{#-#################################################################
<File Name>
  authorizing_functionaries.html

<Author>
  Lukas Puehringer <lukas.puehringer@nyu.edu>

<Started>
  Apr 06, 2017

<Copyright>
  See LICENSE for licensing information.

<Purpose>
  Shows multi select widgets using select2 JS plugin that can be used
  to authorize functionaries for steps and set a threshold, i.e. how many
  functionaries need to provide link metadata for a step.

#################################################################-#}

{% import '_macros.html' as macros %}
{% extends "base.html" %}

{#- BEGIN: Rendered content -#}
{% block content %}
  {{ macros.progress_bar(value=75) }}
  <hr>
  <h1>Who is authorized to do what in your Project?</h1>
  <p>Below you can authorize one or more of your functionaries to carry out
  any of your software supply chain steps. Moreover, for each step you can
  specify a <i>threshold</i> of how many functionaries you require to carry out
  a specific step. You should specify a threshold greater than one for steps
  that are especially sensitive.</p>

  {#- BEGIN: Functionary to step mapping -#}
  <script type="text/javascript">
    {#- Initialize select2 for pubkey-to-step association -#}
    {#- FIXME: Factor out to JavaScript file -#}
    $(function(){
      $(".select2").select2();
    });
  </script>
  <form id="authorizing-form" action="{{ url_for('authorizing') }}" method="POST">
  {% for step in steps %}
    <input type="hidden" name="step_name[]" value="{{step.name}}">
    <div class="form-group row">
      <div class="col-10">
        <label><strong>{{step.name}}</strong> <small>authorize functionaries for this step in select box below</small></label>
        <select name="functionary_name_{{step.name}}[]" multiple class="form-control select2">
          {% for functionary in functionaries.get("items", []) %}
          {% with functionary_name=functionary.get('functionary_name') %}
            <option {{'selected' if functionary_name in auth_dict.get(step.name, {}).authorized_functionaries}}  value="{{functionary_name}}">{{functionary_name}}</option>
          {% endwith %}
          {% endfor %}
        </select>
      </div>
      <div class="col-2">
        <label>Threshold</label>
        <input name="threshold[]" class="form-control" type="number" min="1" value="{{auth_dict.get(step.name, {}).get('threshold', 1)}}">
      </div>
    </div>
  {% endfor %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  </form>
  {#- END: Functionary to step mapping -#}

  {#- BEGIN: Navigation Footer (Previous/Next) -#}
  <hr>
  <div class="row no-gutters justify-content-between">
    <div class="col-3">
      <a class="btn btn-outline-primary btn-block" href="{{ url_for('functionaries')}} ">Previous</a>
    </div>
    <div class="col-3">
      <input type="submit" form="authorizing-form" class="btn btn-outline-primary btn-block" value="Next">
    </div>
  </div>
  {#- END: Navigation Footer (Previous/Next) -#}

{% endblock %}
{#- END: Rendered content -#}
