{% import '_macros.html' as macros %}
{% extends "base.html" %}

{# BEGIN: Rendered content #}
{% block content %}
  {{ macros.progress_bar(value=75) }}
  <hr>
  <h1>Who is authorized to do what in your Project?</h1>
  {{ lipsum(n=1, html=True, min=40, max=41) }}

  {# BEGIN: Functionary to step mapping #}
  <h2 class="mt-5 mb-3">Assign Public Keys and configure Threshold</h2>
  <script type="text/javascript">
    {# Initialize select2 for pubkey-to-step association #}
    {# FIXME: Factor out to JavaScript file #}
    $(function(){
      $(".select2").select2();
    });
  </script>

  <form id="authorizing-form" action="{{ url_for('authorizing') }}" method="POST">
  {% for step in steps %}
    <input type="hidden" name="step_name[]" value="{{step.name}}">
    <div class="form-group row">
      <div class="col-10">
        <label><strong>{{step.name}}</strong> (authorized functionaries)</label>
        <select name="functionary_name_{{step.name}}[]" multiple class="form-control select2">
          {% for functionary_name in functionaries.keys() %}
           <option {{'selected' if functionary_name in authorizing.get(step.name, {}).authorized_functionaries}}  value="{{functionary_name}}"> {{ functionary_name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-2">
        <label>Threshold</label>
        <input name="threshold[]" class="form-control" type="number" min="1" value="{{authorizing.get(step.name, {}).get('threshold', 1)}}">
      </div>
    </div>
  {% endfor %}
  </form>
  {# END: Functionary to step mapping #}

  {# BEGIN: Navigation Footer (Previous/Next) #}
  <hr>
  <div class="row no-gutters justify-content-between">
    <div class="col-3">
      <a class="btn btn-primary btn-block" href="{{ url_for('functionaries')}} ">Previous</a>
    </div>
    <div class="col-3">
      <input type="submit" form="authorizing-form" class="btn btn-primary btn-block" value="Next">
    </div>
  </div>
  {# END: Navigation Footer (Previous/Next) #}

{% endblock %}
{# END: Rendered content #}
