<!doctype html>
<html>
<head>
  <title>In-Toto Layout Tool</title>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}" defer></script>
  {# TODO: separate wizard and editor assets #}
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>
  <div class="head">
    <h1>In-Toto Layout Tool</h1>
  </div>
  <div class="content">
    <ul class="menu">
      <li><a href="{{ url_for('layout_wizard', session_id=session_id, layout_name=(layout_name if layout_name else None)) }}">
        Layout Creation Wizard</a>
      <li><a href="{{ url_for('layout_editor', session_id=session_id, layout_name=(layout_name if layout_name else None)) }}">
        Layout Editor</a>
      </li>
    </ul>
    {% include 'noscript.html' %}
    <ul id="flashes">
      {% include 'messages.html' %}
    </ul>

    <div class="script-content">
    {% block scriptcontent %}
    {% endblock %}
    </div>
  </div>
</body>
</html>
