{% extends "base.html" %}

{% block scriptcontent %}
<h2>Create and/or upload Functionary Public Keys</h2>
{% include 'upload-pubkeys.html' %}

{#
<h2>Create, upload or choose Layout from your Session</h2>
{% include 'create-layout.html' %}
{% include 'upload-layout.html' %}

{% include 'pick-layout.html' %}
#}
{% if layout %}
  {% include 'layout-form.html' %}

  <h2>Download and sign your software supply chain layout</h2>
  {% include 'download-layout.html' %}
  {% include 'clone-templates.html' %}
{% endif %}
{% endblock %}
