<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>In-Toto Layout Wizard</title>
    {# We use JQuery right away that's why we load it here #}
    <script src="{{ url_for('static', filename='vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/dropzone.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/select2.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.scss.css') }}">
  </head>
  <body>
    <div class="head">
      <div class="container">
        <div class="row">
          <div class="col align-self-center">In-Toto Layout Wizard</div>
        </div>
      </div>
    </div>
    <div class="container content">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <hr>
      {% block content %}{% endblock %}
    </div>
    {# REPLACE THIS WITH LOCAL stuff#}
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="{{ url_for('static', filename='vendor/tether.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/html.sortable.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/dagre-d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
