{#-#################################################################
<File Name>
  building.html

<Author>
  Lukas Puehringer <lukas.puehringer@nyu.edu>

<Started>
  Apr 06, 2017

<Copyright>
  See LICENSE for licensing information.

<Purpose>
  Template for building page. Uses option grid and option form container macros
  and passes a local building form (defined in local form_content macro).

#################################################################-#}
{% import '_macros.html' as macros %}
{% extends "base.html" %}

{#- BEGIN: Rendered content -#}
{% block content %}
  {{ macros.progress_bar(value=30) }}
  <hr>
  <h1>How do you build your software?</h1>
  <p>If you don't build you software just click <i>next</i>. In the same manner, if you use more than one command to build your software, you can pick multiple of the provided options or add custom commands.</p>

  {#- BEGIN: Option Grid -#}
  <form id="building-form" action="{{ url_for('building') }}" method="POST">
  {{ macros.option_grid(options=options) }}
  </form>
  {#- END: Option Grid -#}


  {#- BEGIN: Navigation Footer (Previous/Next) -#}
  <hr>
  <div class="row no-gutters justify-content-between">
    <div class="col-3">
      <a class="btn btn-outline-primary btn-block" href="{{ url_for('vcs')}} ">Previous</a>
    </div>
    <div class="col-3">
      <input type="submit" form="building-form" class="btn btn-outline-primary btn-block" value="Next">
    </div>
  </div>
  {#- END: Navigation Footer (Previous/Next) -#}

{% endblock %}
{#- END: Rendered content -#}
