{% import '_macros.html' as macros %}
{% extends "base.html" %}

{#- BEGIN: Rendered content -#}
{% block content %}
  {{ macros.progress_bar(value=80) }}
  <hr>
  <h1>Chaining your Supply Chain</h1>
  <p>On the previous pages we defined who is authorized to do what. Now
  we will create the necessary rules to guarantee that only authorized
  functionaries can modify your software product.</p>

  <p>To do this, you have to perform an in-toto test run of your software
  supply chain and upload the generated <i>*.link</i> metadata files. This
  metadata contains information about the files your steps modify and create.
  We use this information to generate rules which chain the
  individual steps together. To learn more about this take a look at the
  <a href="https://github.com/in-toto/in-toto#artifact-rules">
  <i>in-toto artifact rule</i> section on our GitHub page</a>.</p>

  {#- BEGIN: Mock run command snippet  -#}
  <div>
    <small>The following command line snippet wraps your software supply chain
    commands with the in-toto metadata generating command and creates a tarball
    of the resulting *.link metadata files.</small>
<pre class="code">
{%- for step in steps %}
in-toto-mock --name {{step.name}} -- {{step.cmd}}
{%- endfor %}
tar czf in_toto_link_files.tar.gz {% for step in steps%}{{step.name}}.link-mock {% endfor %}
</pre>
  </div>
  {#- END: Mock run command snippet  -#}

  {#- BEGIN: Link file upload dropzone -#}
  <script type="text/javascript">
    $(function(){

      // Initialize link file upload dropzone and add existing uploaded files
      var dropzone = init_link_dropzone($(".dropzone"));
      {% for item in chaining.get("items", []) %}
      {% with filename=item.get("file_name") %}
        {% if filename %}
          var dz_file =  {name: "{{filename}}", size: 12345};
          dropzone.emit("addedfile", dz_file);
          dropzone.emit("complete", dz_file, true);
          dropzone.files.push(dz_file);
        {% endif %}
      {% endwith %}
      {% endfor %}
    });
  </script>
  <div class="mt-5">
  <small>Drop links or link tarball or click in box to upload</small>
  <div class="dz-container d-flex align-items-stretch p-3">
    <form class="dropzone d-flex flex-wrap" method="POST", enctype="multipart/form-data"
        action="{{ url_for('ajax_upload_link') }}">
    </form>
  </div>
  </div>
  {#- END: Link file upload dropzone -#}

  {#- BEGIN: Comment section -#}
  <form id="chaining-form" method="POST" action="{{ url_for('chaining')}}">
    <hr class="mt-5">
    {{macros.comment_form(chaining.get("comment", ""))}}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  </form>
  {#- END: Comment section -#}

  {#- BEGIN: Navigation Footer (Previous/Next) -#}
  <hr>
  <div class="row no-gutters justify-content-between">
    <div class="col-3">
      <a class="btn btn-outline-primary btn-block" href="{{ url_for('authorizing')}} ">Previous</a>
    </div>
    <div class="col-3">
      <input type="submit" form="chaining-form" class="btn btn-outline-primary btn-block" value="Next">
    </div>
  </div>
  {#- END: Navigation Footer (Previous/Next) -#}
{% endblock %}
{#- END: Rendered content -#}
