{% import '_macros.html' as macros %}
{% extends "base.html" %}

{# BEGIN: Rendered content #}
{% block content %}
  {{ macros.progress_bar(value=80) }}
  <hr>
  <h1>Security Restriction Assessment (linking the chain)</h1>
  {{ lipsum(n=1, html=True, min=80, max=81) }}

  {# BEGIN: Mock run command snippet  #}
  <h2 class="mt-5 mb-2">Copy/Paste Commands</h2>
  <div>
<pre class="code">
{%- for step in steps %}
in-toto-mock --name {{step.name}} -- {{step.cmd}}
{%- endfor %}
</pre>
  </div>
  {# END: Mock run command snippet  #}

  {# BEGIN: Link file upload dropzone #}
  <script type="text/javascript">
    $(function(){

      // Initialize link file upload dropzone and add existing uploaded files
      var dropzone = init_link_dropzone($(".dropzone"));
      {% for item in chaining.get("items", []) %}
      {% with filename=item.get("file_name") %}
        {% if filename %}
          var dz_file =  {name: "{{filename}}", size: 12345};
          dropzone.emit("addedfile", dz_file);
          dropzone.emit("complete", dz_file, true);
          dropzone.files.push(dz_file);
        {% endif %}
      {% endwith %}
      {% endfor %}
    });
  </script>
  <h2 class="mt-5 mb-2">Upload Links</h2>
  <small>Drop Links here or click to upload!</small>
  <div class="dz-container d-flex align-items-stretch p-3">
    <form class="dropzone d-flex flex-wrap" method="POST", enctype="multipart/form-data"
        action="{{ url_for('ajax_upload_link') }}">
    </form>
  </div>
  {# END: Link file upload dropzone #}

  {# BEGIN: Comment section #}
  <form id="chaining-form" method="POST" action="{{ url_for('chaining')}}">
    <hr class="mt-5">
    {{macros.comment_form(chaining.get("comment", ""))}}
  </form>
  {# END: Comment section #}

  {# BEGIN: Navigation Footer (Previous/Next) #}
  <hr>
  <div class="row no-gutters justify-content-between">
    <div class="col-3">
      <a class="btn btn-primary btn-block" href="{{ url_for('authorizing')}} ">Previous</a>
    </div>
    <div class="col-3">
      <input type="submit" form="chaining-form" class="btn btn-primary btn-block" value="Next">
    </div>
  </div>
  {# END: Navigation Footer (Previous/Next) #}
{% endblock %}
{# END: Rendered content #}
