<div class="description">
You are almost there, download the in-toto layout, sign it with your project owner privat key and you are good to go.

<form action="{{ url_for('download_layout', session_id=session_id, layout_name=layout_name) }}" method="GET">
    <input type="submit" value="Download Layout">
</form>

<pre class="code">
>>> from in_toto.models.layout import Layout
>>> from in_toto.util import import_rsa_key_from_file
>>> layout = Layout.read_from_file("{{layout_name}}")
>>> private_key = import_rsa_key_from_file("alice", password="123456")
>>> layout.sign(alice_private)
>>> layout.dump("{{layout_name}}")
</pre>
