<!doctype html>
<html>
<head>
  <title>In-Toto Layout Tool</title>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script type="text/javascript" src="js/jquery-3.1.1.min.js" defer></script>
  <script type="text/javascript" src="js/main.js" defer></script>
</head>
<body>

  {% include 'noscript.html' %}
  <div class="script-content">
    <h1>In-Toto Layout Tool</h1>
    {% include 'messages.html' %}
    {% include 'session.html' %}
    {% include 'pick-layout.html' %}
    {% include 'upload-layout.html' %}
    {% include 'create-layout.html' %}
    {% if layout %}
      {% include 'layout-form.html' %}
      {% include 'clone-templates.html' %}
    {% endif %}
  </div>
</body>
</html>
