<div class="box inspection {{'template' if not inspection}}">
  <div>
    <label>
      Name
      <input type="text" value="{{inspection.name if inspection}}">
    </label>
  </div>
  <div>
    <label>
      Command
      <input type="text" value="{{inspection.run if inspection}}">
    </label>
  </div>
  {#
  <h4>Material Rules</h4>
    {% with rules=inspection.material_matchrules %}
    {% include 'artifact_rules.html' %}
    {% endwith %}

  <h4>Product Rules</h4>
    {% with rules=inspection.product_matchrules %}
    {% include 'artifact_rules.html' %}
    {% endwith %}
  #}
  <button type="button" class="remove-inspection">Remove Inspection</button>
</div>
