<h2>Layout</h2>
<form  action="{{ url_for('save_layout', session_id=session_id) }}" method="POST" enctype="multipart/form-data">
  <input type="submit" value="Save Layout">

  <input type="hidden" name="layout_name" value="{{layout_name}}">
  <div class="box">
      <div>
        <label>
          Layout Name
          <input type="text" name="new_layout_name" value="{{layout_name}}"
          placeholder="e.g.: 'root.layout'">
        </label>
      </div>
      <div>
        <label>
          Expiration Date
          <input type="datetime-local" name="expires" value="{{layout.expires | zulu_to_html}}">
        </label>
      </div>

      <div>
        <label>
          Functionary Public Keys
          <select name="layout_keys" multiple>
          {% for keyid in available_pubkeys + layout.keys.keys() %}
            <option value="{{keyid}}"  {{ "selected" if keyid in layout.keys }}>{{keyid | truncate(9, True)}}</option>
          {% endfor %}
          </select>
        </label>
      </div>

      <h3>Steps</h3>
      <div class="step-container box">
        <div id="step-container-inner">
          {% for step in layout.steps %}
          {% include 'step.html' %}
          {% endfor %}
        </div>
      <button type="button" class="add-step">Add Step</button>
      </div>

      <h3>Inspections</h3>
      <div class="inspection-container box">
        <div id="inspection-container-inner">
          {% for inspection in layout.inspect %}
          {% include 'inspection.html' %}
          {% endfor %}
        </div>
        <button type="button" class="add-inspection">Add Inspection</button>
      </div>
      {#
      {% if layout.signatures %}
      <h3>Layout signatures</h3>
        {% for signature in layout.signatures %}
          <div>{{signature["keyid"]}}</div>
        {% endfor %}
      {% endif %}
      #}
  </div>
  <input type="submit" value="Save Layout">
</form>