{#-#################################################################
<File Name>
  packaging.html

<Author>
  Lukas Puehringer <lukas.puehringer@nyu.edu>

<Started>
  Apr 06, 2017

<Copyright>
  See LICENSE for licensing information.

<Purpose>
  Template for packaging page. Uses option grid and option form container macros
  and passes a local packaging form (defined in local form_content macro).

#################################################################-#}
{% import '_macros.html' as macros %}
{% extends "base.html" %}

{#- BEGIN: Rendered content -#}
{% block content %}
  {{ macros.progress_bar(value=50) }}
  <hr>
  <h1>How do you package your software?</h1>
  <p>You showed us how you fetch your code and how you build and test it, so your software is probably ready to be shipped out to the user. Do you use any of the following commands to create a software package?</p>

  {#- BEGIN: Option Grid -#}
  <form id="package-form" action="{{ url_for('packaging') }}" method="POST">
  {{ macros.option_grid(options=options) }}
  </form>
  {#- END: Option Grid -#}

  {#- BEGIN: Navigation Footer (Previous/Next) -#}
  <hr>
  <div class="row no-gutters justify-content-between">
    <div class="col-3">
      <a class="btn btn-outline-primary btn-block" href="{{ url_for('quality_management')}} ">Previous</a>
    </div>
    <div class="col-3">
      <input type="submit" form="package-form" class="btn btn-outline-primary btn-block" value="Next">
    </div>
  </div>
  {#- END: Navigation Footer (Previous/Next) -#}

{% endblock %}
{#- END: Rendered content -#}
