{% import '_macros.html' as macros %}
{% extends "base.html" %}

{% block content %}
{{ macros.progress_bar(value=40) }}
<hr>
<h1>How do you assure your software's quality?
</h1>
{{ lipsum(n=1, html=True, min=50, max=51) }}

{% for language in ["Linting", "Testing", "Continuous Integration"] %}
  <h2 class="mt-5">{{ language }}</h2>
  {% call() macros.option_grid(check_type="checkbox") %}
    {# Inner macro defined at the end of this file. #}
    {# TODO:
    Forward argument received from `caller(**kwargs)` in `macros.option_grid`
    #}

    {{ _quality_mgmt_form() }}
  {% endcall %}
{% endfor %}

<h2 class="mt-5 mb-3">I use different quality management commands</h2>
{% call() macros.option_custom(add_btn_text="Add custom command(s)") %}
{{ _quality_mgmt_form(removable=True) }}
{% endcall %}

<hr>
<div class="row no-gutters justify-content-between">
  <div class="col-3">
    <a class="btn btn-primary btn-block" href="{{ url_for('building')}} ">Previous</a>
  </div>
  <div class="col-3">
    <a class="btn btn-primary btn-block" href="{{ url_for('packaging')}} ">Next</a>
  </div>
</div>
{% endblock %}

{% macro _quality_mgmt_form() %}
<div class="form-group">
  <label>I use this command for quality management...</label>
  <input type="text" class="form-control" placeholder="$ configure">
  <small class="form-text text-muted">Some descriptive text...</small>
</div>

<div class="form-group row">
  <div class="col-3 col-form-label">I run this command</div>
  <div class="input-group col-9">
    <select class="custom-select input-group-select">
      <option selected value="before">before</option>
      <option value="after">after</option>
    </select>
    <select class="custom-select input-group-select w-100">
    {# FIXME: Replace with real data and stick whole group in condition block
    to only ask if a build_step exists. #}
    {% for build_step in ["configure", "make", "make optimize"] %}
    <option value="{{build_step}}">{{build_step}}</option>
    {% endfor %}
    </select>
  </div>
</div>

<h3 class="mt-4 mb-3">How do you know everything's fine?</h3>
<div class="form-group row">
  <div class="col-3 col-form-label">Return value</div>
  <div class="input-group col-9">
    <select class="custom-select input-group-select">
      <option selected >is equal to</option>
      <option>is not equal to</option>
      <option>is greater than</option>
      <option>is lesser than</option>
      <option>is greater-equal than</option>
      <option>is lesser-equal than</option>
    </select>
    <input type="number" class="form-control" placeholder="0">
  </div>
</div>

<div class="form-group row">
  <div class="col-3 col-form-label">Standard output</div>
  <div class="input-group col-9">
    <select class="custom-select input-group-select">
      <option>is</option>
      <option>is not</option>
      <option>contains</option>
      <option>contains not</option>
    </select>
    <input type="text" class="form-control" placeholder="...">
  </div>
</div>

<div class="form-group row">
  <div class="col-3 col-form-label">Standard error</div>
  <div class="input-group col-9">
    <select class="custom-select input-group-select">
      <option>is</option>
      <option>is not</option>
      <option>contains</option>
      <option>contains not</option>
    </select>
    <input type="text" class="form-control" placeholder="...">
  </div>
</div>
{% if kwargs.removable %}
<div class="form-group">
  <button type="button" data-toremove=".opt-form" class="rm-btn btn-outline-danger btn col-3">Remove</button>
</div>
{% endif %}

{%- endmacro %}