{#-#################################################################
<File Name>
  quality.html

<Author>
  Lukas Puehringer <lukas.puehringer@nyu.edu>

<Started>
  Apr 06, 2017

<Copyright>
  See LICENSE for licensing information.

<Purpose>
  Template for qa page. Uses option grid and option form container macros
  and passes a local qa form (defined in local form_content macro).

#################################################################-#}
{% import '_macros.html' as macros %}
{% extends "base.html" %}

{#- BEGIN: Quality Managment form macro -#}
{% macro form_content(data=None, show_add_btn=False, show_rm_btn=True) %}
{#- Define default dict/list here (never in signature) so we don't have to check
for every input -#}
{% with data = data if data else {} %}
  <div class="form-group">
    <label>I use this command to assure my software's quality</label>
    <input type="text" class="form-control" value="{{ data.get('cmd', "") }}" name="cmd[]">
  </div>
  <h3 class="mt-4 mb-3">How do you verify your command executed okay?</h3>
  <div class="form-group row inspect-type-container">
    <div class="col-md-3 col-form-label"><input class="inspect-include" type="hidden" name="retval_include[]" value="{{'true' if data.get('retval') else 'false'}}"><input class="inspect-type-checkbox mr-3" type="checkbox" {{'checked' if data.get('retval')}}>Return value</div>
    <div class="input-group col-md-9 inspect-type-input {{'invisible' if not data.get('retval')}}">
      <select class="custom-select input-group-select " name="retval_operator[]">
        <option value="eq" {{"selected" if data.get("retval_operator", "") == "eq"}}>is equal to</option>
        <option value="ne" {{"selected" if data.get("retval_operator", "") == "ne"}}>is not equal to</option>
        <option value="gt" {{"selected" if data.get("retval_operator", "") == "gt"}}>is greater than</option>
        <option value="lt" {{"selected" if data.get("retval_operator", "") == "lt"}}>is lesser than</option>
        <option value="ge" {{"selected" if data.get("retval_operator", "") == "ge"}}>is greater-equal than</option>
        <option value="le" {{"selected" if data.get("retval_operator", "") == "le"}}>is lesser-equal than</option>
      </select>
      <input type="number" class="form-control" min="0" name="retval_value[]" value="{{ data.get('retval_value', "") }}">
    </div>
  </div>
  <div class="form-group row inspect-type-container">
    <div class="col-md-3 col-form-label"><input class="inspect-include" type="hidden" name="stdout_include[]" value="{{'true' if data.get('stdout') else 'false'}}"><input class="inspect-type-checkbox mr-3" type="checkbox" {{'checked' if data.get('stdout')}}>Standard output</div>
    <div class="input-group col-md-9 inspect-type-input {{'invisible' if not data.get('stdout')}}">
      <select class="custom-select input-group-select" name="stdout_operator[]">
        <option value="is" {{"selected" if data.get("stdout_operator", "") == "is"}}>is</option>
        <option value="is-not" {{"selected" if data.get("stdout_operator", "") == "is-not"}}>is not</option>
        <option value="contains" {{"selected" if data.get("stdout_operator", "") == "contains"}}>contains</option>
        <option value="contains-not" {{"selected" if data.get("stdout_operator", "") == "contains-not"}}>does not contain</option>
        <option value="empty" {{"selected" if data.get("stdout_operator", "") == "empty"}}>is empty</option>
      </select>
      <input type="text" class="form-control" name="stdout_value[]" value="{{ data.get('stdout_value', "") }}">
    </div>
  </div>
  <div class="form-group row inspect-type-container">
    <div class="col-md-3 col-form-label"><input class="inspect-include" type="hidden" name="stderr_include[]" value="{{'true' if data.get('stderr') else 'false'}}"><input class="inspect-type-checkbox mr-3" type="checkbox" {{'checked' if data.get('stderr')}}>Standard error</div>
    <div class="input-group col-md-9 inspect-type-input {{'invisible' if not data.get('stderr')}}">
      <select class="custom-select input-group-select" name="stderr_operator[]">
        <option value="is" {{"selected" if data.get("stderr_operator", "") == "is"}}>is</option>
        <option value="is-not" {{"selected" if data.get("stderr_operator", "") == "is-not"}}>is not</option>
        <option value="contains" {{"selected" if data.get("stderr_operator", "") == "contains"}}>contains</option>
        <option value="contains-not" {{"selected" if data.get("stderr_operator", "") == "contains-not"}}>does not contain</option>
        <option value="empty" {{"selected" if data.get("stderr_operator", "") == "empty"}}>is empty</option>
      </select>
      <input type="text" class="form-control" name="stderr_value[]" value="{{ data.get('stderr_value', "") }}">
    </div>
  </div>
  <div class="form-group">
    <button type="button" class="copy-btn btn btn-outline-warning {{'d-none' if not show_add_btn}}">Add and continue on this page</button>
    <button type="button" class="copy-btn btn btn-outline-primary {{'d-none' if not show_add_btn}}" data-submit="qa-form">Add and continue on next page</button>
    <button type="button" data-toremove=".opt-form" class="rm-btn btn btn-outline-danger {{'d-none' if not show_rm_btn}}">Remove</button>
  </div>
{% endwith %}
{%- endmacro %}
{#- END: Quality Managment form macro -#}

{#- BEGIN: Rendered content -#}
{% block content %}
  <script type="text/javascript">
    $(function(){
      $(document).on("change", ".inspect-type-checkbox", function(){
        // Workaround: Checkboxes are only posted if checked, but we need a
        // value per step to be able to aggregate step values by index.
        // TODO: DRY with checkbox workaround in main.js
        var checked = $(this).is(':checked');
        $(this).prev("input.inspect-include").val(checked);

        // Toggle inspection input fields visibility
        // It would be nicer to disable the form inputs, but then they don't
        // get posted which messes up the aggregation by index.
        // Readonly would work, but only for input fields and not for select
        $(this).parents(".inspect-type-container")
            .find(".inspect-type-input")
            .toggleClass("invisible");
      });
    });
  </script>
  {{ macros.progress_bar(value=40) }}
  <hr>
  <h1>How do you assure your software's quality?</h1>
  <p>Do you run any static or dynamic tests? Below we provide some popular tools. Please pick the one(s) you are using, specify the executed command and tell us how you verify that the tests ran through properly.</p>

  {#- BEGIN: Option Grid -#}
  {% call(data) macros.option_grid(options=options) %}
    {{ form_content(data={ "cmd": data.get("cmd") }, show_add_btn=True, show_rm_btn=False) }}
  {% endcall %}
  {#- END: Option Grid -#}

  {#- BEGIN: Postable Form Content -#}
  {% call(data=None) macros.form_container(form_id="qa-form", form_action=url_for('quality_management'), user_data=user_data) %}
    {{ form_content(data=data) }} {#- data passed back from macro -#}
  {% endcall %}
  {#- END: Postable Form Content -#}

  {#- BEGIN: Navigation Footer (Previous/Next) -#}
  <hr>
  <div class="row no-gutters justify-content-between">
    <div class="col-3">
      <a class="btn btn-outline-primary btn-block" href="{{ url_for('building')}} ">Previous</a>
    </div>
    <div class="col-3">
      <input type="submit" form="qa-form" class="btn btn-outline-primary btn-block" value="Next">
    </div>
  </div>
  {#- END: Navigation Footer (Previous/Next) -#}

{% endblock %}
{#- END: Rendered content -#}
