{#-#################################################################
<File Name>
  quality.html

<Author>
  Lukas Puehringer <lukas.puehringer@nyu.edu>

<Started>
  Apr 06, 2017

<Copyright>
  See LICENSE for licensing information.

<Purpose>
  Template for qa page. Uses option grid and option form container macros
  and passes a local qa form (defined in local form_content macro).

#################################################################-#}
{% import '_macros.html' as macros %}
{% extends "base.html" %}


{#- BEGIN: Rendered content -#}
{% block content %}
  <script type="text/javascript">
    $(function(){
      $(document).on("change", ".inspect-type-checkbox", function(){
        // Workaround: Checkboxes are only posted if checked, but we need a
        // value per step to be able to aggregate step values by index.
        // TODO: DRY with checkbox workaround in main.js
        var checked = $(this).is(':checked');
        $(this).prev("input.inspect-include").val(checked);

        // Toggle inspection input fields visibility
        // It would be nicer to disable the form inputs, but then they don't
        // get posted which messes up the aggregation by index.
        // Readonly would work, but only for input fields and not for select
        $(this).parents(".inspect-type-container")
            .find(".inspect-type-input")
            .toggleClass("invisible");
      });
    });
  </script>
  {{ macros.progress_bar(value=40) }}
  <hr>
  <h1>How do you assure your software's quality?</h1>
  <p>Do you run any static or dynamic tests? Below we provide some popular tools. Please pick the one(s) you are using, specify the executed command and tell us how you verify that the tests ran through properly.</p>

  {#- BEGIN: Option Grid -#}
  <form id="qa-form" action="{{ url_for('quality_management') }}" method="POST">
  {{ macros.option_grid(options=options) }}
  </form>
  {#- END: Option Grid -#}


  {#- BEGIN: Navigation Footer (Previous/Next) -#}
  <hr>
  <div class="row no-gutters justify-content-between">
    <div class="col-3">
      <a class="btn btn-outline-primary btn-block" href="{{ url_for('building')}} ">Previous</a>
    </div>
    <div class="col-3">
      <input type="submit" form="qa-form" class="btn btn-outline-primary btn-block" value="Next">
    </div>
  </div>
  {#- END: Navigation Footer (Previous/Next) -#}

{% endblock %}
{#- END: Rendered content -#}
