{% extends "base.html" %}

{% block head %}
Is this what your software supply chain looks like?
{% endblock %}

{% block content %}
{{ lipsum(n=1, html=True, min=50, max=51) }}


<script type="text/javascript">
  {#
  FIXME:  For simplicity we directly render the JSON data a global variable
  here, used after onload to generate the D3.js graph (c.f. main.js)

  CAUTION: the safe filter below indicates that we should be sure that the
  rendered data is save to be evaluated as JS.
  #}

  var graph_data = {{ graph_json | safe }};

</script>

<div class="svg-container">
  <svg version="1.1" viewBox="0 0 1 1" preserveAspectRatio="xMinYMin meet" class="svg-content"></svg>
</div>

<hr>
<div class="row no-gutters justify-content-between">
  <div class="col-3">
    <a class="btn btn-primary btn-block" href="{{ url_for('packaging')}} ">Previous</a>
  </div>
  <div class="col-3">
    <a class="btn btn-primary btn-block" href="{{ url_for('authorizing')}} ">Next</a>
  </div>
</div>
{% endblock %}
