<div class="box step {{'template' if not step}}">
  <div>
    <label>
      Name
      <input type="text" name="{{'step_name'}}" value="{{step.name if step}}">
    </label>
  </div>
  <div>
    <label>
      Authorized Functionaries
      <select name="step_keyid[]" multiple>
          {% for keyid in layout.keys %}
          <option value="{{keyid}}" {{ "selected" if step and keyid in step.pubkeys }}>
            {{ keyid | truncate(9, True)}}</option>
          {% endfor %}
      </select>
    </label>
  </div>
  <div>
    <label>
      Expected Command
      <input type="text" name="step_cmd" value="{{step.expected_command if step}}">
    </label>
  </div>

  {#
  <h4>Material Rules</h4>
    {% with rules=step.material_matchrules %}
    {% include 'artifact_rules.html' %}
    {% endwith %}

  <h4>Product Rules</h4>
    {% with rules=step.product_matchrules %}
    {% include 'artifact_rules.html' %}
    {% endwith %}
  #}
  <button type="button" class="remove-step">Remove Step</button>
</div>
