
<div>
Make sure you have <a href="https://github.com/in-toto/in-toto/tree/artifact-rules">in-toto installed</a> and fire up a Python interpreter to create project owner and functionary key pairs, you will need those key pairs to sign your layout (project owner private key) and to authorize roles to carry out the steps (functionary public keys) you defined for your supply chain:
</div>
{#
<pre class="code">
$ pip install git+git://github.com/in-toto/in-toto.git
</pre>
#}
<pre class="code">
>>> from in_toto.util import generate_and_write_rsa_keypair
>>> generate_and_write_rsa_keypair("alice", password="123456")
</pre>
<h3>Uploaded public keys</h3>

<form id="pubkey-dropzone" class="dropzone" method="POST", enctype="multipart/form-data"
    action="{{ url_for('ajax_upload_pubkey', session_id=session_id) }}">
    <div class="dz-message needsclick">
      Drop public keys here or click to upload, then select them in the form below to include them in your layout.
    </div>
</form>

<script type="text/javascript">
  Dropzone.autoDiscover = false;
  $(document).ready(function(){
    $("form#pubkey-dropzone").dropzone({
          paramName: "pubkey_file",
          init: function () {
            // Display already uploaded files
            {% for available_key in available_pubkeys %}
              var pubkey_file = { name: "{{ available_key }}" };
              this.options.addedfile.call(this, pubkey_file);
              pubkey_file.previewElement.classList.add('dz-complete');
            {% endfor %}
          },
          complete: function(file) {
            // Append flash message
            // TODO: factor out to separate Ajax flash function
            response = JSON.parse(file.xhr.response)
            $("ul#flashes").html($("ul#flashes").html() + response.messages);

            if (response.error) {
              this.removeFile(file);
            }

          }

      });
  });
</script>


