{#-#################################################################
<File Name>
  vcs.html

<Author>
  Lukas Puehringer <lukas.puehringer@nyu.edu>

<Started>
  Apr 06, 2017

<Copyright>
  See LICENSE for licensing information.

<Purpose>
  Template for vcs page. Uses option grid and option form container macros
  and passes a local vcs form (defined in local form_content macro).

  Also defines an overlay user dialog that asks the user if the code should
  be downloaded and used to populate a preliminary supply chain
  (currently disabled).

  FIXME: Enable clone repo dialog

#################################################################-#}
{% import '_macros.html' as macros %}
{% extends "base.html" %}


{#- BEGIN: Rendered content -#}
{% block content %}
  {{ macros.progress_bar(value=20) }}
  <hr>
  <h1>Where does your code live?</h1>
  <p>We assume that you organize your source code in a version control system. What command do you use to fetch your sources?</p>

  {#- BEGIN: Option Grid -#}
  <form id="vcs-form" action="{{ url_for('vcs') }}" method="POST">
  {{ macros.option_grid(options=options) }}
  </form>
  {#- END: Option Grid -#}

  {#- BEGIN: Navigation Footer (Previous/Next) -#}
  <hr>
  <div class="row no-gutters justify-content-between">
    <div class="col-3">
      <a class="btn btn-outline-primary btn-block" href="{{ url_for('start')}} ">Previous</a>
    </div>
    <div class="col-3">
      <input type="submit" form="vcs-form" class="btn btn-outline-primary btn-block" value="Next">
      {#- <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#clone-consent-modal">Next</button> -#}
    </div>
  </div>
  {#- END: Navigation Footer (Previous/Next) -#}



{% endblock %}
{#- END: Rendered content -#}


