{% import '_macros.html' as macros %}
{% extends "base.html" %}


{% block content %}
  {{ macros.progress_bar(value=20) }}
  <hr>
  <h1>Where does your code live?</h1>
  {{ lipsum(n=1, html=True, min=50, max=51) }}

  <h2 class="mt-5 mb-3">What version control system do you use?</h2>
  {% call() macros.option_grid(check_type="radio", tools=vcs_tools) %}
    <div class="form-group">
      <label>I fetch my repo using this command:</label>
      <input type="text" class="form-control" placeholder="{{kwargs.cmd}}">
      <small class="form-text text-muted">Some descriptive text...</small>
    </div>
  {% endcall %}

  <h2 class="mt-5 mb-3">I use a different version control system</h2>
  {% call() macros.option_custom(add_btn_text="Add custom VCS command") %}
    <label>I fetch my repo using this command:</label>
    <div class="form-group row no-gutters justify-content-between">
      <div class="col-6">
        <input type="text" class="form-control" placeholder="">
      </div>
      <button data-toremove=".opt-form" class="rm-btn btn-outline-danger btn col-3">Remove</button>
    </div>
  {% endcall %}

  <hr>
  <div class="row no-gutters justify-content-between">
    <div class="col-3">
      <a class="btn btn-primary btn-block" href="{{ url_for('start')}} ">Previous</a>
    </div>
    <div class="col-3">
      {# <a class="btn btn-primary btn-block" href="{{ url_for('building')}} ">Next</a> #}
      <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#clone-consent-modal">Next</button>
    </div>
  </div>

  <div id="clone-consent-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm mt-5">
      <div class="modal-content">
        <div class="modal-header"></div>
        <div class="modal-body text-center">
          <h3 class="mb-4">Should we clone your repo to guess what your software supply chain looks like?</h3>
          <a class="btn btn-outline-primary" href="{{ url_for('building')}}">No, thanks.</a>
          <a class="btn btn-outline-primary " href="{{ url_for('building')}} ">Yes, please!</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


