{% extends "base.html" %}

{% block head %}
1. Where does your code live?
{% endblock %}

{% block content %}
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua.</p>

  <h2>What version control system do you use?</h2>

  <div class="opt-row">
  {% for item in range(6) %}
    <div class="opt-cell active">
      <div class="opt-logo">
        <img src="{{ 'https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png' if loop.index == 1 }}">
      </div>
      <div class="opt-check">
        <label>
          <input type="checkbox" value="">
          git
        </label>
      </div>
    </div>

  {% endfor %}
  </div>


  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-xs-3 control-label">How do you fetch your repo?</label>
      <div class="col-xs-9">
        <input type="text" class="form-control" placeholder="git commit &lt;path/to/repo&gt;">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-3 col-xs-9">
        <button type="button" class="btn btn-outline-primary">Done</button>
      </div>
    </div>


  </div>

{% endblock %}


{% block links %}
  <a href="{{ url_for('start')}} ">Previous</a>
  <a href="{{ url_for('building')}} ">Next</a>
{% endblock %}